@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;800&display=swap");

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: black;
}
.container {
  position: relative;
  width: 100%;
  padding: 2rem;
}
.circle {
  position: relative;
  overflow: hidden;
}
.circle.circle1 {
  width: 500px;
  height: 500px;
  float: left;
  border-radius: 50%;
  margin: 1.2rem;
  shape-outside: circle();
}
.circle.circle2 {
  width: 300px;
  height: 300px;
  float: right;
  border-radius: 50%;
  margin: 1.2rem;
  shape-outside: circle();
}
.container-title {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1.2rem;
  text-align: center;
}
.text {
  text-align: justify;
  color: beige;
  text-transform: lowercase;
}
.img01 {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.clip {
  width: 24.5rem;
  height: 24.5rem;
  float: right;
  border-radius: 50%;
  margin: 1rem;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  shape-outside: polygon();
}
